mixin home()
  section#home.home-section
    .home-section__bg
    .home-section__overlay
      .container
        header.home-section__header
          h1 Niranjan Reddy
          h2 Enterprise Architect
          h3 @Avanade Malaysia Sdn. Bhd. (Microsoft + Accenture)
